.track {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.track img {
  border-radius: 5px;
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.track-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track h3,
.track p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track h3 {
  max-width: 150px;
}

.track p {
  max-width: 150px;
}

/* Styles pour les boutons */
.track button {
  margin-left: auto; /* Aligner les boutons à droite */
  padding: 8px 12px; /* Espacement interne */
  border: none; /* Supprimer la bordure par défaut */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointer */
  font-weight: bold; /* Mettre le texte en gras */
  transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

/* Couleurs pour le bouton "Ajouter" */
.track button.add {
  background-color: #28a745; /* Couleur de fond verte */
  color: white; /* Couleur du texte */
}

/* Couleurs pour le bouton "Retirer" */
.track button.remove {
  background-color: #dc3545; /* Couleur de fond rouge */
  color: white; /* Couleur du texte */
}

/* Effet de survol pour les boutons */
.track button:hover {
  opacity: 0.8; /* Réduire l'opacité au survol */
}
